{% extends 'base.html' %}
{% block content %}
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
   {% comment %} <form action="" method="post">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <table>
      <!-- Render the inputs inside of <tr>s & <td>s -->
      {{ form.as_table }}
    </table>

    <input type="submit" value="Submit!" class="btn" />
</form>  {% endcomment %}

<div class="col s6">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn" value="Add Vehicle">
    </form>
</div>

{% endblock %}

