{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PowerUp</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
<header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li>
            <a href="/" class="left brand-logo"> PowerUp</a>
          </p>
        </ul>
        <ul class="right">
          <li><a href="/about">About</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'stations_create' %}">Add a Station</a></li>
          <li><a href="/mystations">My Stations</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  

<div class="search">
<h1>Enter Postcode</h1>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Search" class="btn green" />
    </form>
<h2>Nearest EV Stations:</h2>
</div>
{% if data %}
{% for key, value in data.items %} 
    <div class="card">
    <div class="card-content">
    <form action="{% url 'stations_create' %} " method="post">
        {% csrf_token %}
    <span class="card-title">{{ value.station_name }}</span>
        <p>Address: {{ value.street_address }}</p>
        <p>Availability: {{ value.access_days_time }}</p>
        <p>Connector Types: {{ value.ev_connector_types }}</p>
        <p>Reviews: {{station.reviews }}</p>
        <p class="link">Website: <a href="{{ value.ev_network_web }}">{{ value.ev_network_web }}</a></p>
        <input type="hidden" name="name" value="{{ value.station_name }}">
        <input type="hidden" name="address" value="{{ value.street_address }}">
        <input type="hidden" name="availability" value="{{ value.access_days_time }}">
        <input type="hidden" name="connectors" value="{{ value.ev_connector_types }}">
        <button class="btn" type="submit">Add to My Stations</button>
    </form>
   </div>
</div>
{% endfor %} {% endif %}