{% extends 'base.html' %} {% block content %}
<h1>About Us</h1>
<h4>A more convenient way to find reliable charging and decrease your carbon footprint.</h4>
<hr />
<div class="aboutpageß">
<p class="goal">Our goal is to play a small part in promoting widespread adoption of electric vehicles. By striving to build a charging network that is accessible, trustworthy, and cost-effective, offering fast charging options to all those in need, we hope to make a positive impact.</p>

<img src="https://www.self.inc/info/img/post/ev-vs-non-ev/ev-vs-non-ev-header.jpg" alt="">
</div>
{% endblock %}