{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>PowerUp</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<header class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul>
        <li>
          <a href="/" class="left brand-logo"> PowerUp</a>
        </p>
      </ul>
      <ul class="right">
        <li><a href="/about">About</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'vehicle_create' %}">Add a Vehicle</a></li>
        <li><a href="/stations">EV Stations</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
        {% endif %}
      </ul>
    </div>
  </nav>
</header>


<h1>Vehicles</h1>
{% for vehicle in vehicles %}
<div class="row">
  <div class="col s6">
    <div class="card">
      <a href="{% url 'vehicle_detail' vehicle.id %}">
      <div class="card-content">
        <span class="card-title">{{ vehicle.name }}</span>
        <p>Address: {{ vehicle.model }}</p>
        <p>Description: {{ vehicle.make }}</p>
      </div>
    </div>
  </div>
</a>
</div>

{% endfor %}
